h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

section {
  margin: 30px auto;
  width: 800px;
  padding: 30px 15px;
  background-color: #fff;
  box-shadow: 0 5px 6px 1px rgb(34 60 80 / 20%);
}

label {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: gray;
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
  padding-left: 10px;
}
